{% extends 'base.html' %}
{% load static %}

{% block title %}Blog | The Super Blog{% endblock title %}
{% block content %}
<main>
  <div class="container">
    <div class="layout">
      <!-- left layout -->
      <div class="left">
        <div class="page-top">
          <div class="top flex">
            <div class="page-name">
              <a href="{% url 'index' %}" class="learn">
                <span class="material-icons">keyboard_return</span> Go back
              </a>
              <h1>Blog</h1>
            </div>
          </div>
        </div>
        <center>
          <div class="typo">
            <h1 class="title blog-title">
              {{post.title}}
            </h1>
            <br>
            {% if request.user.is_authenticated and post.author.id == request.user.id %}
            <div>
              <form class="post-action-item" action="{% url 'edit-post' post.slug %}" method="post"> {% csrf_token %}
                <button type="submit" class="action-menu">
                  <input type="hidden" name="action" value="edit">
                  <p>Edit <i class="uil uil-pen"></i></p>
                </button>
              </form>
              <form class="post-action-item" action="{% url 'delete_post' post.slug %}" method="post"> {% csrf_token %}
                <button type="submit" class="action-menu">
                  <input type="hidden" name="action" value="edit">
                  <p>Delete <i class="fa fa-remove"></i></p>
                </button>
              </form>
            </div>
            {% endif %}
            <div class="timeline">
              <div class="track">
                <i class="uil uil-clock"></i>
                <p class="time">{{post.last_updated|date}}</p>
              </div>
              <div class="track">
                <i class="uil uil-users-alt"></i>
                <p class="view-count">{{post.view_count}} view{{post.view_count|pluralize}}</p>
              </div>
              {% if request.user.is_authenticated %}
              <a class="track" href="{% url 'add_to_favorite' post.id %}">
                <button type="submit" class="btn btn-info">
                  {% if is_favorite %}
                  <i class="fa-solid fa-bookmark"></i>
                  {% else %}
                  <i class="uil uil-bookmark-full"></i>
                  {% endif %}
                  <p class="bookmark">Bookmark</p>
                </button>
              </a>
              {% else %}
              <a class="track" href="{% url 'login' %}">
                <button type="submit" class="btn btn-info">
                  <i class="uil uil-bookmark-full"></i>
                  <p class="bookmark">Bookmark</p>
                </button>
              </a>
              {% endif %}
            </div>
          </div>
        </center>
        <section class="mt">
          <div class="container">
            <div class="blog-post">
              <div class="post-img blog-img">
                <img src="{{post.image.url}}" />
              </div>
              <div class="blog-post-content">
                <p>
                  {{post.content|safe}}
                </p>
                <div class="blog-tags">
                  {% for tag in post.tags.all %}
                  <a href="{% url 'tag_page' tag.slug %}" class="tag">{{tag.name}}</a>
                  {% endfor %}
                </div>
                <div class="social-share">
                  <div class="reactions">
                    <div class="likes">
                      <form action="{% url 'like-post' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="post_slug" value={{post.slug}}>
                        <button type="submit" class="likes-button">
                          {% if request.user in post.likes.all %}
                          <i class="fa fa-heart"></i>
                          {% else %}
                          <i class="uil uil-heart"></i>
                          {% endif %}
                        </button>
                        <span>{{post.likes.all|length}}</span>
                      </form>
                    </div>
                    <div class="total-comments">
                      <i class="uil uil-comment-alt"></i>
                      <span>{{comments|length}}</span>
                    </div>
                  </div>
                  <div class="share">
                    <div class="social">
                      <a href="#">
                        <i class="fa-brands fa-facebook-f"></i>
                      </a>
                      <a href="#">
                        <i class="fa-brands fa-instagram"></i>
                      </a>
                      <a href="#">
                        <i class="fa-brands fa-linkedin-in"></i>
                      </a>
                      <a href="#">
                        <i class="fa-brands fa-twitter"></i>
                      </a>
                    </div>
                  </div>
                </div>
                {% for comment in comments %}
                <!-- comments -->
                <div class="user-comment">
                  <div class="author">
                    <div class="profile-pic">
                      <img src="{% static 'app/images/author.svg' %}" alt="" />
                    </div>
                    <div class="details">
                      <p>{{comment.name}}</p>
                      <small>{{comment.date|date}}</small>
                    </div>
                  </div>
                  <div class="comment-sec-main">
                    <div class="comment-sec">
                      <div class="comment">
                        <p>
                          {{comment.content}}
                        </p>
                      </div>
                      {% if request.user.is_authenticated %}
                      <div class="comment_actions">
                        <div class="reply">
                          <button onclick="toggleDiv(this)">Reply</button>
                        </div>
                        {% if request.user.id == comment.author.id %}
                        <a class="delete" onclick="return confirm('Are you sure you want to delete this comment?')"
                          href="{% url 'comment_delete' comment.id %}">
                          <button class="delete-btn">Delete</button>
                        </a>
                        {% endif %}
                      </div>
                      <div class="comment-box" id="comment-reply-box">
                        <h3>Reply to post</h3>
                        <form method="POST"> {% csrf_token %}
                          {{form.content}}
                          <div class="grid-3">
                            <input type="hidden" name="post_id" value="{{post.id}}">
                            <input type="hidden" name="user_id" value="{{request.user.id}}">
                            <input type="hidden" name="parent" value="{{comment.id}}">
                          </div>
                          <button class="btn btn-primary rounded">
                            Post Reply
                          </button>
                        </form>
                      </div>
                      {% endif %}
                    </div>
                    {% for reply in comment.replies.all %}
                    <div class="public-reply">
                      <div class="author">
                        <div class="profile-pic">
                          <img src="{% static 'app/images/author.svg' %}" alt="" />
                        </div>
                        <div class="details">
                          <p>{{reply.name}}</p>
                          <small>{{reply.date|date}}</small>
                        </div>
                      </div>
                      <div class="comment">
                        <p>
                          {{reply.content}}
                        </p>
                      </div>
                      <div class="comment_actions">
                        {% if request.user.id == comment.author.id %}
                        <a class="delete" onclick="return confirm('Are you sure you want to delete this comment?')"
                          href="{% url 'comment_delete' reply.id %}">
                          <button class="delete-btn">Delete</button>
                        </a>
                        {% endif %}
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            {% if request.user.is_authenticated %}
            <div class="comment-box">
              <h3>Leave a new comment to this post</h3>
              <form method="post"> {% csrf_token %}
                {{form.content}}
                <input type="hidden" name="post_id" value="{{post.id}}">
                <input type="hidden" name="user_id" value="{{request.user.id}}">
                <button class="btn btn-primary rounded">Post comment</button>
              </form>
            </div>
            {% endif %}
          </div>
        </section>
      </div>
      <!-- left layout end -->
      <!-- right layout -->
      <div class="right">
        <div class="block">
          <h2 class="title2">Most recent</h2>
          {% for recent_post in recent_posts %}
          <div class="recent-post">
            <div class="rounded-img">
              <img src="{{recent_post.image.url}}" alt="" />
            </div>
            <div class="recent-content">
              <h3>
                {{recent_post.title}}
              </h3>
              <a class="learn" href="{% url 'post_page' recent_post.slug %}">Learn more <span class="material-icons">
                  trending_flat</span></a>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="block r-blog">
          <h2 class="title2">Related Blogs</h2>
          {% for related_blog in related_blogs %}
          <a href="{% url 'post_page' related_blog.slug %}">
            <div class="card">
              <div class="post-img">
                <img src="{{related_blog.image.url}}" alt="" />
                <div class="tag">{{related_blog.tags.all.0.name}}</div>
              </div>
              <div class="card-content">
                <h3>
                  {{related_blog.title}}
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="/static/app/images/author.svg" alt="" />
                  </div>
                  <div class="details">
                    <p>{{related_blog.author}}</p>
                    <small>{{related_blog.last_updated}}</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
        <div class="block">
          <h2 class="title2">Top category</h2>
          {% for top_category in top_categories %}
          <div class="card">
            <h3>
              {{top_category.title}}
            </h3>
            <p>
              {{top_category.content|truncatechars:100|safe}}
            </p>
            <a class="learn" href="{% url 'post_page' top_category.slug %}">Learn more <span class="material-icons">
                trending_flat </span></a>
          </div>
          {% endfor %}
        </div>
        <div class="block">
          <h2 class="title2">Top Tags</h2>
          <div class="blog-tags">
            {% for top_tag in top_tags %}
            <a class="tag" href="{% url 'tag_page' top_tag.slug %}">{{top_tag.name}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- right layout end -->
    </div>
  </div>
</main>
{% endblock content %}